<h2><%= @list.name %></h2>

<% @list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.movie.title %>
  <li><%= bookmark.movie.overview %>
  <li><%= bookmark.movie.poster_url %>
  <li><%= bookmark.movie.rating %>
  <%= link_to "Delete bookmark",
              bookmark_path(bookmark),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>
<br>
<%= link_to "Watch lists", lists_path %> |
<%= link_to 'Create a bookmark', new_list_bookmark_path(@list) %> |
